/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch|Open+Sans+Condensed:300|Roboto+Condensed:400,700");
$base-font: 'Open Sans Condensed', 'sans-serif';
$header-font: 'Open Sans Condensed', 'sans-serif';
$logo-font: 'Cabin Sketch', 'cursive';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #292C3C;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #DFCC9D;
$orange: #E67E22;
$green: #32B796;
$gray: #292c3c;
$white: #FFFFFF;
