.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 75px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 40px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.product {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.product-body h1 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 0;
}
.product-body h3 {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
a:hover {
  text-decoration: none;
}
.product:hover {
  background: #e3e3e5;
  cursor: pointer;
}

// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }

