<div class="container">
  <h3><% avatar_url = @user.facebook_picture_url || "http://placehold.it/30x30" %>
  <%= image_tag avatar_url, class: 'avatar-large' %>
  <%= "#{@user.name}, here are your restaurants:" if @user.try(:name) %></h3>
  <div class="row">
    <% @user.restaurants.each do |restaurant| %>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
          <%= render 'users/restaurant_card', restaurant: restaurant %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="add">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <!-- Button (call-to-action) -->
        <%= link_to t(".top_call_to_action", default: "Add a restaurant"), new_restaurant_path, class: "action-btn" %>
      </div>
    </div>
  </div>
</div>
