<div class="jumbotron" id="banner">
  <h1>Yvon can't let you wait...</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" >
      <a href="#" class="thumbnail">
        <img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_400/v1479820698/image_bar_xxujwf.jpg">
      </a>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/entre%CC%81e_bb7yhr.jpg">
        </a>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820703/plat_iocaqh.jpg">
          </a>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/dessert_olbq7n.jpg">
            </a>
          </div>
      </div>
  <div>
    <button type="button">VOUS AVEZ UN COMPTOIR?</button>
  </div>
</div>
