<div class="container" id="banner"
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-3" >
      <a href="#" class="thumbnail">
        <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/dessert_olbq7n.jpg">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/dessert_olbq7n.jpg">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/dessert_olbq7n.jpg">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <a href="#" class="thumbnail">
        <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1479820697/dessert_olbq7n.jpg">
      </a>
    </div>
  </div>
</div>

