<label class="switch" id="switch">
  <input name="my-checkbox" type="checkbox" <%= "checked" if @restaurant.on_duty %>>
  <div>
    <div></div>
  </div>
  <span class="switch-label">
    DUTY
  </span>
</label>
