<div class="footer" style= "background-color: $gray";>
  <div class="box">
          <a href="https://www.facebook.com/HelloYvon/?fref=ts"><i class="fa fa-facebook fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>

        </span>
  </div>
</div>
