<div class="footer">

  <div class="col-sm-4 text-left">
      <a target="_blank" href="https://www.facebook.com/HelloYvon/">
        <i class="fa fa-facebook fa-lg" ></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram fa-lg" ></i>
      </a>
  </div>

  <div class="col-sm-4" style="text-align: center">
    <p>Made with <i class="fa fa-heart-o fa-lg" ></i> by a dedicated team</p>
  </div>

  <div class="col-sm-4" style="text-align: right">
    <p>The DreamTeam, El Carro, November 2016 </p>
    <p><%= link_to "Privacy policy", privacy_policy_path %></p>
  </div>

</div>
