<div class="footer-fixed">

  <div class="col-sm-2 text-left">
    <%= link_to "https://www.facebook.com/HelloYvon/", target: :blank do %>
      <i class="fa fa-facebook" ></i>
    <% end %>
  </div>

  <div class="col-sm-6 text-center">
    Made with <i class="fa fa-heart-o fa-lg" ></i> by a <%= link_to "dedicated team" %>
  </div>

  <div class="col-sm-2 text-right">
    <%= link_to "Privacy policy", privacy_path %>
  </div>

  <div class="col-sm-2 text-right">
    &copy; 2017 | Yvon
  </div>

</div>
