<div class="footer" style= "background-image: url(https://s-media-cache-ak0.pinimg.com/564x/cd/e2/8b/cde28be09c1d91b434b5beed04b6a40b.jpg);">
  <div class="box">
          <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
          <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
        </span>
  </div>
</div>
