<h3>restaurant_<%= @restaurant.id %></h3>
<%= image_tag @restaurant_messenger_code %>
<div class="row">
  <% @table_messenger_code.each do |k, v| %>
    <div class="col-md-4">
      <h3><%= k %></h3>
      <%= image_tag v %>
    </div>
  <% end -%>
</div>
