<div class="container">
  <div class="turnover">
    <h2>Your turnover</h2>

    <% sum = 0 %>
    <% @restaurant.orders.each do |order| %>
      <% sum = sum + order.price %>
    <% end %>

    <%= sum.fdiv(100)  %> €
  </div>
  <div class="number">
    <h2>Number of orders</h2>
  </div>
</div>
