<div class="container">
  <div class="turnover">
    <h2>Your turnover</h2>
    <p><%= @restaurant.decorate.turnover %></p>
  </div>
  <div class="number">
    <h2>Number of orders</h2>
  </div>
</div>
