<h1>Pending orders</h1>
<% if orders.pending.any? %>
  <%= render 'orders/show', restaurant: restaurant, orders: orders.pending %>
<% else %>
  <p> You have no pending orders </p>
<% end %>

<h1>Delivered orders</h1>
<% if orders.delivered.any? %>
  <%= render 'orders/show', restaurant: restaurant, orders: orders.delivered %>
<% else %>
  <p> You have no delivered orders </p>
<% end %>
