<div class="banner" style="background-image: url('http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_400,w_1600/v1480081049/banner_1_d7qs3r.jpg');">
  <div class="banner-content">
    <h1>Fed up with the waste of time?</h1>
    <h2>Yvon is your best friend to overcome this waste</h2>
    <h4><a class="navbar-wagon-item navbar-wagon-button btn">You'd like to add your restaurant to Yvon's network? Click here</a></h4>
  </div>
</div>

<div class="product">
  <div class='product-upvote'>
  </div>
  <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1480083341/geolocalisation_wlk5ok.jpg" alt="kudoz" class="product-image hidden-xs" style="width: 500px; height: 500px;">
  <div class='product-body'>
    <h3>Tell your location.</h3>
    <p>Yvon uses your geolocation datas to indicate the closest restaurants</p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>
<div class="product">
  <div class='product-upvote'>
  </div>
  <img src="http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_500,w_500/v1480083529/restaurant_sjkuld.jpg">
  <div class='product-body' style="width: 500px; height: 500px;">
    <h3>Tell your location.</h3>
    <p>Yvon uses your geolocation datas to indicate the closest restaurants</p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>
<div class="product">
  <div class='product-upvote'>
  </div>
  <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1480083341/geolocalisation_wlk5ok.jpg" alt="kudoz" class="product-image hidden-xs" style="width: 500px; height: 500px;">
  <div class='product-body'>
    <h3>Tell your location.</h3>
    <p>Yvon uses your geolocation datas to indicate the closest restaurants</p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>
<div class="product">
  <div class='product-upvote'>
  </div>
  <img src="http://res.cloudinary.com/da2krghvd/image/upload/c_fit,h_500,w_500/v1480083644/payer_via_mobile_dm21dv.png">
  <div class='product-body' style="width: 500px; height: 500px;">
    <h3>Tell your location.</h3>
    <p>Yvon uses your geolocation datas to indicate the closest restaurants</p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <li><a href=""><i class="fa fa-heart"></i></a></li>
    <li><a href=""><i class="fa fa-share"></i></a></li>
    <li><a href=""><i class="fa fa-star"></i></a></li>
  </ul>
</div>






















<div class="container">

    <div class="film">
      Insérer le film du bot Yvon qui fonctionne
    </div>
    <div class="useit">
      Call to Action: go to the fb page and chat with Yvon as you do with your friend !
    </div>
</div>


 <div class="testimonials">Add 3 testimonials</div>
    </div>



