<%=render 'shared/banner' %>




<div class="container">
  <div class= "carousel">
    <div class= "item"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_200,w_400/v1480003462/femme_mange_fotolia_z3ct1y.jpg"></div>
    <div class= "item"><h3>No time ? Yvon is your bot to order food quickly and easily</h3></div>
    <div class= "item"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_200,w_400/v1480006128/service_fbgjym.jpg"></div>
    <div class= "item"><h3>Yvon is your new operator to make your life simple and easy anywhere!</h3></div>
    <div class= "item"><img src="http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_200,w_400/v1480003713/5_kilos_en_un_mois_lttjkb.jpg"></div>
    <div class= "item"><h3>A simple Chat to connect with him and, by the way, with our partners</h3></div>
  </div>
</div>
<button onclick = "rotate(-1)">PUSH!!!</button>
</div>


<h3>Nos plateformes</h3>

<div class="container">
  <h2>Who's Yvon ?</h2>
    <div class="film">
      Insérer le film du bot Yvon qui fonctionne
    </div>
    <div class="useit">
      Call to Action: go to the fb page and chat with Yvon as you do with your friend !
    </div>
</div>


 <div class="testimonials">Add 3 testimonials</div>Ò
    </div>


