<%= render 'shared/banner' %>
<h3>Nos plateformes</h3>
<%= render 'shared/buttons' %>

<div class="container">
  <h2>Who's Yvon ?</h2>
  <div class="why">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <p>Yvon is your bot to order food quickly and easily</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p>Yvon able you to order in any restaurant geolocalizing you</p>
      </div>
      <div class="col-xs-12 col-md-4">
        <p>Use only one chat message for all yours orders</p>
      </div>
    </div>
  </div>
  <div class="film">
    Insérer le film du bot Yvon qui fonctionne
  </div>
  <div class="useit">
    Call to Action: go to the fb page and chat with Yvon as you do with your friend !
  </div>
  <div class="testimonials">Add 3 testimonials</div>

</div>


