<div class="home-body">

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url('http://res.cloudinary.com/da2krghvd/image/upload/c_fill,h_400,w_1600/v1480081049/banner_1_d7qs3r.jpg');">
    <div class="banner-content">
      <h1>Fed up with the waste of time?</h1>
      <h2>Yvon is your best friend to overcome this waste</h2>
      <div class="fb-messengermessageus"
        messenger_app_id="214523662319204"
        page_id="572405842962591"
        color="blue"
        size="xlarge" >
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="product" id="first">
          <img src="http://res.cloudinary.com/da2krghvd/image/upload/v1480083341/geolocalisation_wlk5ok.jpg" alt="kudoz" class="product-image hidden-xs" style="width: 100px; height: 100px; ">
          <div class='product-body'>
            <h1>Tell your location.</h1>
            <h3>Yvon uses your geolocation datas to indicate the closest restaurants</h3>
          </div>
        </div>

        <div class="product">
          <img src="https://sushinthebox.net/wp-content/uploads/2016/05/deco-moderne-150x150@2x.png" class="product-image hidden-xs" style="width: 100px; height: 100px; ">
          <div class='product-body'>
            <h1>Choose what's the best according to YOU</h1>
            <h3>Yvon allows you to see restaurants avaibilities around you</h3>
          </div>
        </div>

        <div class="product">
          <img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_300/v1480259888/restaurant_food_iltdxk.jpg" class="product-image hidden-xs" style="width: 100px; height: 100px; ">
          <div class='product-body'>
            <h1>Have a look on restaurants menus</h1>
            <h3>Yvon knows everything about the place you choose, he wants to share it with you</h3>
          </div>
        </div>

        <div class="product">
          <img src="http://res.cloudinary.com/da2krghvd/image/upload/c_scale,w_300/v1480259717/Payer_uiudpk.jpg" class="product-image hidden-xs" style="width: 100px; height: 100px; ">
          <div class='product-body'>
            <h1>Choose your meal and pay</h1>
            <h3>Yvon allows you to pay the restaurant so that you won't have to wait to get your order</h3>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="vdo">
          <%= image_tag "iphone.png" %>
        </div>
      </div>
    </div>
    <div class='product-body'>
      <h3 class="navbar-wagon-item navbar-wagon-button btn"><%= link_to "To add your restaurant to Yvon's network? Click here", new_restaurant_path  %></h3>
    </div>
  </div>
</div>
