.carousel {
  width: 400px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  perspective: 1000px;
  transform-style: preserve-3d;

}

.carousel .item {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 2px solid black;
  transition: transform 1s;

}

.item:nth-child(5) {
  background-image: url("http://res.cloudinary.com/da2krghvd/image/upload/c_crop,h_200,w_400/v1479829832/texture_footbar1_ehqghf.jpg");
  h1 {
  color: white;
  text-align: center;
  }
}

