/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Yvon font
.yvon-logo {
  font-family: $logo-font;
  &-white {
    font-family: $logo-font;
    color: $white;
  }
  &-home {
    font-family: $logo-font;
    color: $messenger-blue;
    font-size: 6rem;
  }
}

// Paddings
.padded {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-gray {
  background: #dddddd;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Margins
.no-margin{
  margin: 0;
}
.marged {
  margin: 1rem 0;
}

// Vertical alignment
.row-xs-flex-center {
    display: flex;
    align-items: center;
}
@media ( min-width:768px ) {
  .row-sm-flex-center {
    display: flex;
    align-items: center;
  }
}
@media ( min-width: 992px ) {
  .row-md-flex-center {
    display: flex;
    align-items: center;
  }
}
@media ( min-width: 1200px ) {
  .row-lg-flex-center {
    display: flex;
    align-items: center;
  }
}
