<div class="container">
  <% @restaurant.meals.select { |meal| meal.persisted? }.each do |meal| %>


    <div class="row">
      <div class="col-md-3">
        <p><%= meal.category %></p>
      </div>
      <div class="col-md-3">
        <p><%= meal.name %></p>
      </div>
      <div class="col-md-3">
        <p><%= meal.price %></p>
      </div>
      <div class="col-md-3">
        <%= link_to edit_restaurant_meal_path(meal) do %>
          <i class="fa fa-pencil" ></i>
        <% end %>
      </div>
    </div>


  <% end %>
</div>
