<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <% restaurant.meal_categories.each do |meal_category| %>
      <%= render 'meal_categories/form', meal_category: meal_category %>
      <% end %>
    </div>
  </div>
</div>
