<label class="switch" id="restaurantDutySwitch">
  <input name="duty-checkbox" type="checkbox" <%= "checked" if restaurant.on_duty %>>
  <div>
    <div></div>
  </div>
  <span class="switch-label">
    DUTY
  </span>
</label>
