<div class="nested-fields form-inline">
  <%= f.input :name, label: false, placeholder: "Name"%>
  <%= f.input :price, label: false, placeholder: "Price" %>
  <%= f.input :tax_rate, label: false, collection: Menu.tax_rates.map {|k, v| [k, k]}, placeholder: "Tax rate" %>
  <%= link_to_remove_association f do %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
</div>
