<div class="container form_restaurant">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>Congratulations ! </h3>
      <p>To get on board, please fill in the form below. </p><br>
        <div id="restaurant">
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>
