<div class="tabs">
  <a class="tab active" data-target="#orders">
    <h3>Orders</h3>
  </a>
  <a class="tab" data-target="#meals">
    <h3>Meals</h3>
  </a>
  <a class="tab" data-target="#dashboard">
    <h3>Dashboard</h3>
  </a>
  <a class="tab" data-target="#restaurant">
    <h3>Edit my restaurant</h3>
  </a>
</div>


<div class="tab-content" id="orders">
</div>

<div class="tab-content" id="meals">

  <%= render 'meals/new' %>
  <%= render 'meals/show' %>

</div>

<div class="tab-content" id="dashboard">
</div>

<div class="tab-content" id="restaurant">
</div>
