<%= render "restaurants/tabs", restaurant: @restaurant, active: 'configure' %>

<div class="tab-content" id="configure">
  <%= render 'restaurants/configure', restaurant: @restaurant %>
</div>


<div class="tab-content hidden" id="restaurant">
  <%= render 'restaurants/edit' %>
</div>
